spaceships/src/main/app/SpaceSips.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="SpaceSips-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="SpaceSips-config" raml="SpaceSips.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="SpaceSips-main">
        <http:listener config-ref="SpaceSips-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="SpaceSips-config" doc:name="APIkit Router"/>
        <exception-strategy ref="SpaceSips-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="SpaceSips-console">
        <http:listener config-ref="SpaceSips-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="SpaceSips-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/ships/{idShip}/members/{idMember}:application/json:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/ships/{idShip}:application/json:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/ships/{idShip}:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/ships/{idShip}/members/{idMember}:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/ships:SpaceSips-config">
        <set-payload value="{&#xA;&quot;type&quot; : &quot;Ship[]&quot;,&#xA;&quot;example&quot; : &quot;{&#xA;  &quot;idShip&quot;: 1,&#xA;  &quot;nameShip&quot;:&quot;USS Enterprise&quot;,&#xA;  &quot;crewSize&quot;:600,&#xA;  &quot;speed&quot;: 9.8,&#xA;  &quot;members&quot;: [&#xA;      {&#xA;      &quot;idMember&quot;:1,&#xA;      &quot;nameMember&quot;: &quot;Capitan Kirk&quot;,&#xA;      &quot;rank&quot;:10,&#xA;      &quot;idShip&quot;: 1&#xA;      },&#xA;      {&#xA;      &quot;idMember&quot;:2,&#xA;      &quot;nameMember&quot;: &quot;Capitan Spok&quot;,&#xA;      &quot;rank&quot;:10,&#xA;      &quot;idShip&quot;: 1&#xA;      }&#xA;    ]&#xA;}&#xA;&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/ships/{idShip}:SpaceSips-config">
        <set-payload value="{&#xA;  &quot;idShip&quot;: 1,&#xA;  &quot;nameShip&quot;:&quot;USS Enterprise&quot;,&#xA;  &quot;crewSize&quot;:600,&#xA;  &quot;speed&quot;: 9.8,&#xA;  &quot;members&quot;: [&#xA;      {&#xA;      &quot;idMember&quot;:1,&#xA;      &quot;nameMember&quot;: &quot;Capitan Kirk&quot;,&#xA;      &quot;rank&quot;:10,&#xA;      &quot;idShip&quot;: 1&#xA;      },&#xA;      {&#xA;      &quot;idMember&quot;:2,&#xA;      &quot;nameMember&quot;: &quot;Capitan Spok&quot;,&#xA;      &quot;rank&quot;:10,&#xA;      &quot;idShip&quot;: 1&#xA;      }&#xA;    ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/ships/{idShip}/members:SpaceSips-config">
        <set-payload value="{&#xA;&quot;type&quot; : &quot;CrewMember[]&quot;,&#xA;&quot;example&quot; : &quot;{&#xA;  &quot;idMember&quot;:1,&#xA;  &quot;nameMember&quot;: &quot;Capitan Kirk&quot;,&#xA;  &quot;rank&quot;:10,&#xA;  &quot;idShip&quot;: 1&#xA;}&#xA;&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/ships/{idShip}/members:application/json:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/ships:application/json:SpaceSips-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="SpaceSips-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
